In [ ]:
n = int(input())

print(n*(n-1)//2)
print(2)